<div class="container">
    <h1> Students/Grades List</h1>
    <div class="row">

        <table class="table" *ngIf='this.studentSrv.students.length > 0'>
            <thead>
                <tr class="bg-dark">
                    <th class="text-light">Name</th>
                    <th class="text-light">Grade</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let student of this.studentSrv.students"
                    [class.highlight]="student.grade > this.studentSrv.average && this.studentSrv.average>0"
                    [routerLink]="[{ outlets: { 'student-details': ['details', student.id]}}]">
                    <td>
                        {{student.name}}
                    </td>
                    <td>{{student.grade >= 90 ? student.grade + '&#11088;' : student.grade}} </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="bg-dark">
                    <td class="text-light">Average</td>
                    <td class="text-light">{{this.studentSrv.average}}</td>
                </tr>

            </tfoot>
        </table>
    </div>
</div>