<div class="container mt-5 fixed">
    <div *ngIf="selectedStudent">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title m-0"><i class="bi bi-person-square"></i> {{selectedStudent.name}}
                </h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text ps-3"><i class="bi bi-envelope-open-fill"></i> Email: <a
                            href="mailto:{{selectedStudent.email}}">{{selectedStudent.email}}</a></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text ps-3"><i class="bi bi-phone"></i> <b> Phone:</b> <a
                            href="tel:{{selectedStudent.phone}}">{{selectedStudent.phone}}</a></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text ps-3"><i class="bi bi-emoji-smile"></i> <b> Age:</b> {{selectedStudent.age}}</p>
                </li>
                <li class="list-group-item">
                    <p class="card-text ps-3"><i class="bi bi-gender-ambiguous"></i> <b> Gender:</b>
                        {{selectedStudent.gender |titlecase}}
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="card-text ps-3"><i class="bi bi-card-checklist"></i> <b> Grade:</b>
                        {{selectedStudent.grade}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>